body {
    font-family: 'Arial', sans-serif;
    background-color: #343625;
    color: #faebcc;
    margin: 0;
}

/* Header */
.header-menu {
    font-weight: bold;
    letter-spacing: 2px;
    color: #faebcc;
    text-align: center;
    margin-top: 0;
}

.header-container {
    position: relative;
    min-height: 400px;
}

.header-background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Smooch', cursive;
    font-size: 100px;
}

/* Texto de Apresentação */
.apresentacao-container {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    flex-wrap: wrap; /* Permite quebra em telas menores */
    gap: 10px; /* Espaço entre imagem e texto */
    padding: 40px;
}

.texto_apresentacao {
    max-width: 750px;
    margin: 25px auto;
    padding: 10px;
    background-color: #faebcc;
    border-radius: 5px;
    border-left: 5px solid #faebcc;
    font-size: 16px;
    font-family: 'B612', sans-serif;
    color: #343625;
}

/* Imagem */
.my-image {
    width: 250px;
    border-radius: 5px;
    height: 300px;
    padding-left: 35px;
    border-radius: 5px;
    
}

/* Botões */
.botao-curriculo button,
.botao-areas button,
.botao-contraturnos button {
    background-color: #faebcc;
    color: #343625;
    border: none;
    border-radius: 15px;
    font-size: 29px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 150px;
    height: 45px;
    font-family: 'Smooch', cursive;
}

.botao-curriculo button:hover,
.botao-areas button:hover,
.botao-contraturnos button:hover {
    background-color: #faebcc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Container de botões */
.botoes-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 800px;
    margin: 24px auto;
}
